<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression">

    <test name="SignInPageTest">
        <classes>
            <class name="SignInPageTest">
            </class>
        </classes>
    </test>

    <test name="changeLang">
        <parameter name="language" value="English"></parameter>
        <classes>
            <class name="HomePageTest">
                <methods>
                    <include name="aaa"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>