<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression">

    <test name="[Positive] SignInPageTest">
        <classes>
            <class name="SignInPageTest">
                <methods>
                    <include name="verifyUserIsSuccessfullyLoggedIn"></include>
                    <include name="verifyContinueButtonIsEnabledWithValidEmail"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="[Negative] SignInPageTest">
        <classes>
            <class name="SignInPageTest">
                <methods>
                    <include name="verifyUserCanNotLoginWithWrongPassword"></include>
                    <include name="verifyContinueButtonIsDisabledWithInvalidEmail"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="[Positive] BlogPageTest">
        <classes>
            <class name="BlogPageTest">
                <methods>
                    <include name="verifyBlogTitleLinksDisplayByName"></include>
                    <include name="verifyBlogTitleLinksDisplayByLink"></include>
                </methods>
            </class>
        </classes>
    </test>

    <test name="[Positive] TrainingListPageTest">
        <classes>
            <class name="TrainingListPageTest">
                <methods>
                    <include name="verifyTrainingListSearchResultBySkill"></include>
                    <include name="verifyErrorMessageOfEmptyTrainingListDisplayed"></include>
                    <include name="verifySearchResultWithLocationCountryCityFilter"></include>
                </methods>
            </class>
        </classes>
    </test>
</suite>
